﻿@charset "utf-8";

/* General Site Wide */

body {
    background-color: white;
    margin: 0 auto;
    min-width: 700px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    margin-bottom: 50px;
    height: 100%;
    padding-right: 0px;
}

ul li {
    list-style: none;
}

    ul li a {
        display: block;
        width: 100%;
        height: 100%;
    }

a:hover {
    text-decoration: none;
}

.project-item:hover {
    font-weight: 600;
    font-size: 25px;
}

.highlighted {
    background-color: #7BAFD4;
}


/* HACKY MODAL FIX  */
body.modal-open-scroll {
    padding-right: 0 !important;
    overflow: scroll;
}

.modal-open-scroll .navbar-default, .modal-open .navbar-default {
    padding-right: 0 !important;
}

/*  HEADER  */

header {
    background-color: #7BAFD4;
    clear: both;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

#banner {
    padding-left: 40px;
    float: left;
    margin: auto;
    width: 25%;
    box-sizing: border-box;
}

#banner a {
    color: black;
    font-size: 40px;
    line-height: 50px;
    box-sizing: border-box;
}

#banner a img{
    display: block;
    margin: auto;
    height: 50px;
}

/* USER NOT LOGGED IN */

#login {
    height: 100%;
    float: left;
    width: 75%;
}

#login form {
    padding-right: 25px;
    float:right;
    height: 100%;
    line-height: 48px;
}

.form-group {
    height: 100%;
}

#register h3 {
    text-align: center;
}

#registration-form {
    margin-left: 25%;
    
}

#registration-form input {
    margin-bottom: 15px;
    width: 50%;
}

#registration-form p {
    text-align: left;
}

#register-button {
    
}

/* USER LOGGED IN */
#user-stuff {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    width: 75%;
    float: left;
    box-sizing: border-box;
}

#notification {
    float: right;
    display: block;
    position: relative;
}

#notification button {
    border: 0;
    padding: 0px;
}

#notification button span{
    font-size: 36px;
}

.badge-notify{
   background:red;
   position: absolute;
   top: 5px;
   right: -5px;
}

#profile {
    float: right;
    display: inline-block;
}

#profile a, #profile a img {
    display: inline-block;
    padding-right: 10px;
    margin: 0 auto;
    height: 45px;
}

#husername {
    line-height: 0;
    color: black;
    font-size: 1.5em;
}

#logout {
    padding-left: 30px;
    float: right;
}

/* Notification Modal */
#notification-area p {
    height: 30px;
}

.dismissNotification {
    float: right;
}

/*  ASIDE  */

aside {
    float: left;
    padding-left: 5px;
    width: 25%;
    height: 1000px;
    box-sizing: border-box;
}

aside h1 {
    padding-left: 40px;
}

aside div {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

aside li {
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #7BAFD4;
    border-radius: 15px;
    padding: 15px 0px;
}

#create-project-button-div {
    padding-left: 40px;
}

/* MODAL STYLING */

#projectname, #description, #project-deadline, #task-name,
#task-description, #task-deadline, #user-name, #etask-description, #etask-deadline, #etask-name {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.09);
}

.modal-open {
    padding-right: 0px;
}

/* ADD USER MODAL */
.userImage {
    width: 50px;
    height: 50px;
}

#search-user-table tbody td{
    text-align: center;
}

#search-user-table tbody td img{
    vertical-align: central;
}


span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.cell {
    display: block;
}

/* SECTION  */

section {
    float: left;
    width: 75%;
    box-sizing: border-box;
    padding-right: 50px;
}

    section div {
        padding-top: 10px;
        width: 100%;
        margin-left: 10px;
        float: left;
    }

#usericon {
    width: 100px;
    height: 100px;
}

section h1, h2 {
    text-align: center;
}

section p {
    font-size: 20px;
}

section table {
    width: 100%;
}

    section table td a {
        display: inline-block;
    }


/* Chart */
.chart {
    margin: 0 auto;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.chart h3{
    text-align: center;
}
/* Message Center */

#message-center {
    border: 2px solid #7BAFD4;
    overflow: scroll;
    height: 500px;
    padding-left: 10px;
    color: black;
    width: 75%;
    margin-top: 10px;
}

#message-center2 {
    width: 75%;
}

#message-center h3 {
    color: gray;
    font-size: 1em;
}

.timeStamp {
    float: right;
    color: #E3BF1E;
    font-size: 1em;
}

.messageContainer {
    width: 97%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#submit-message-button {
    float: right;
}
/* MODAL STUFF */

#project-description, #deadline, #member-table, #timelineBgnd {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #7BAFD4;
    border-radius: 5px;
}

    #project-description p, #deadline p, #member-list p {
        font-weight: 400;
        font-size: 25px;
    }

#add-user form {
    text-align: center;
}

.button-wrapper {
    text-align: center;
    border: none;
}

.project-button-wrapper {
    border: none;
}

#results {
    text-align: center;
}

#add-user-button {
    top: 50%;
}

.panel-heading button {
    float: right;
}


.item-header {
    font-weight: bold;
    font-size: 25px;
}

h4 a {
    font-weight: 500;
    font-size: 25px;
}

.panel-default {
    padding: 0px;
}

.panel-heading {
    margin: 0 auto;
}

section div a {
    display: block;
}

.nav-tabs {
    font-size: 42px;
}

section table td {
    border: 2px solid black;
    width: 25%;
    color: black;
    padding: 5px;
}

.report {
    width: 45%;
}

.rating {
    width: 10%;
    text-align: center;
}

a:focus {
    color: black;
    text-decoration: none;
}

table tr td a {
    color: black;
    display: block;
}

.hr td:last-child {
    width: 1%;
    white-space: nowrap;
}

.hide {
    display: none;
}

.done {
    background-color: grey;
}

.peerReviewBtn {
    float: right;
}

#member-list td {
    border: none;
}

table {
    max-width: 100%;
    white-space: nowrap;
}

.create-task-button-wrapper {
    margin-left: 10px;
    width: 50%;
}

.create-task-button-wrapper button {
    margin-left: 10px;
    float: right;
}

.create-task-button-wrapper form {
    width: 150px;
    float: left;
}